services:
  db:
    image: postgres:18.1
    restart: always
    environment:
      POSTGRES_PASSWORD: password
    volumes:
       - postgres_data:/var/lib/postgresql
    ports:
      - "5432:5432"

  web:
    build: .
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 3000 -b '0.0.0.0'"
    volumes:
      - .:/rails
    ports:
      - "3000:3000"
    depends_on:
      - db
    environment:
      - DATABASE_HOUST=db
      - POSTGRESS_PASSWORD=password

volumes:
  postgres_data: 
