services:
  db:
    image: postgres:18.1
    restart: always
    env_file:
      - .env.backend
    volumes:
       - postgres_data:/var/lib/postgresql
    ports:
      - "5432:5432"

  web:
    build: .
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 3000 -b '0.0.0.0'"
    volumes:
      - .:/rails
    ports:
      - "3000:3000"
    depends_on:
      - db
    env_file:
      - .env.backend

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    working_dir: /app/frontend
    command: npm run dev -- --host 0.0.0.0 --port 5173
    volumes:
      - ./frontend:/app/frontend
      - frontend_node_modules:/app/frontend/node_modules
    ports:
      - "5173:5173"
    depends_on:
      - web
    env_file:
      - .env.frontend

volumes:
  postgres_data: 
  frontend_node_modules:
