<div class="landing" style="background-image: url('<%= asset_path("landing-background.jpg") %>');">
  <div class="landing__overlay">
    <h1>Scalar Recipe Book</h1>
    <%= image_tag "landing-background.jpg", class: "landing__image-test", alt: "Landing background" %>
  </div>
</div>
